@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    text-decoration: none;
}
/*Navbar and logo*/

#logo {
    font-size: 24px;
    padding-right: 800px;
}

.nav_bar {
    padding: 20px 180px 20px 180px;
}

.nav_bar li {
    display: inline;
    padding: 40px 40px 40px 40px;
}

.nav_bar a {
    color: #F9FAF8;
}

.nav_bar a:link {
    text-decoration: none;
}

.nav_bar a:hover {
    color: pink;
}

/*Hero image and text*/

.section_1 {
    margin-top: 0;
    display: flex;
    background-color: #1F2937;
    padding-right: 20%;
    padding-left: 20%;
}

.hero_image {
    display: flex;
    justify-content: right;
    opacity: 80%;
    padding: 0 0 0 100px;
    padding-bottom: 60px;
}

.hero_image img {
    border-radius: 22px;
}

aside {
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: #F9FAF8;
}

aside h1 {
    font-size: 48px;
    font-weight: 900;
}

aside p {
    font-size: 18px;
    color: #E5E7EB;
}

.btn_1 {
    background-color: #3882F6;
    padding: 2px 2px 2px 2px;
    width: 20%;
    height: 5%;
    border: none;
    border-radius: 8px;
}

.btn_1 a {
    color: white;
    text-decoration: none;
}

/*Images section*/

.image_section {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
}

.image_section img {
    padding: 0 0 0 0;
    width: 220px;
    height: 60%;
    border-radius: 22px;
    border: 2px solid #3882F6;
}

.image_section, figcaption {
    text-align: center;
}

/*Quote section*/

.quote_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.quote_section cite {
    padding: 20px 20px 60px 320px;
}

/* social network styling */

footer {
    background-color: #1F2937;
    margin: 80px;
    height: 120px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    display: inline;
    justify-content: space-evenly;
    font-size: 200%;
    color: white;
}

.owner {
    display: flex;
    justify-content: center;
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: pink;
}