@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 2px;
    padding: 2px;
    border: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 80px;
    margin: 80px;
    color: #F9FAF8;
}

.hero_greeting {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8; 
}

.nav_bar li {
    display: flex;
    position:relative;
    display: inline;
    float: right;
    list-style-type: none;
}

.nav_bar a {
    display: inline;
    text-decoration: none;
    color: #F9FAF8;
}

.nav_bar a:hover {
    color: pink;
}

.hero_h1 {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
    
}

.hero_p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

.img_one {
    justify-items: center;
    float: right;
    border: 2px solid black;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    margin: 80px;
}

.column {
    display: inline-flex;
}


.column {
    flex: 33.33%;
    padding: 5px;
}

.quote {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight:lighter; 
    font-style: italic;
    padding: 20px;
    margin: 80px;
}

.customer {
    background-color: gray;
    padding: 20px;
    margin: 80px;
}

.btn_one, .btn_two {
    border-radius: 8%;
    padding: 2px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #3882F6;
    color: white;
    }

.btn_two {
    position: relative;
    float: inline-end;
    border: 1px solid white;
}

/* social network styling */

footer {
    background-color: #1F2937;
    margin: 80px;
    height: 120px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    justify-content: center;
    font-size: 200%;
    color: white;
}

.owner {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: pink;
}